title: Portfolio - Ariel Cerda Hernandez - UI designer
email: arielcerdahernandez@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  I am an UI designer  Video editor, content creator, and passionate geek who loves technology.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: smilesharks
github_username:  smilesharks
encoding: utf-8

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: https://avatars.githubusercontent.com/u/5454390?v=4
# paginate: 12

# Build settings
theme: minima 
plugins:
  - jekyll-feed
  - jekyll-menus
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  # - jekyll-paginate
  # - jekyll-postcss
jekyll_admin:
  hidden_links:
    - posts
    - pages
    - staticfiles
    - datafiles
    - configuration
  homepage: "pages"
  collections:
    posts:
      output: true
      sidebar_label: News

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      author: "Ariel"
      layout: "default"

# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus: smilesharks


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Pagination Settings
# pagination:
#   enabled: true
#   per_page: 3
#   offset: 2
#   permalink: '/page/:num/'
#   title: ':title - page :num of :max'
#   limit: 0
#   sort_field: 'date'
#   sort_reverse: true