<footer>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
    <script src="{{ site.url }}/assets/js/custom.js"></script>
    <script src="{{ site.url }}/assets/js/awesome.js"></script>

    <div class="py-6 text-gray-100 bg-gray-900">
        <div class="container mx-auto flex flex-col w-full p-8 space-y-6 text-sm text-white border-gray-700 sm:space-y-0 sm:items-center max-w-7xl md:flex-row md:justify-between">
            <span>
                <a href="{{ site.url }}" class="lg:block h-8 w-auto items-center col-span-2 font-medium text-gray-900 transform logo sm:col-span-1 sm:mr-10 lg:items-center sm:hover:-translate-y-1 transition duration-300 ease-in-out">
                    {% include logo.html %}
                </a>
            </span>
            <span class="sm:space-x-6">
            {% assign pages_list = site.pages | sort:"url" %} {% for node in pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
                <a class="{% if page.url == node.url %} text-yellow-500 {% endif %} text-gray-300 hover:text-yellow-500 text-sm font-medium" href="{{ node.url }}">
                    {{ node.title }}
                </a>
                <a class="text-gray-300 hover:text-yellow-500 text-sm font-medium" href="mailto:{{ site.email | encode_email }}">Contacto</a>
                {% endif %} {% endif %} {% endfor %}
            </span>
            {% include icons.html %}
        </div>
        <div class="container mx-auto sm:flex w-full p-8 text-sm text-white border-gray-700 max-w-7xl sm:flex-row sm:justify-between sm:border-solid md:border-t">
            <p class="flex sm:space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path
                        fill-rule="evenodd"
                        d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                    />
                </svg>
                <span> Made with </span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                </svg>
                <span> / Source code on </span>
                <a class="text-gray-300 hover:text-yellow-500" href="https://github.com/Smilesharks/smilesharks.github.io" data-unsp-sanitized="clean">Github</a>
            </p>
            <p class="rss-subscribe flex items-center">Subscribe 
                <a href="{{ "/feed.xml" | absolute_url }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
                    </svg>
                </a>
                <span> via RSS</span>
            </p>
            <span class="tracking-wide"> Copyright © Ariel Cerda 2021 </span>
        </div>
    </div>
</footer>
