
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:title" content="Myhost – The Serverless Hosting Platform" />
    <meta property="twitter:description" content="MyHost has been around since 2000 and we continue to offer cheaps domains with reliable web hosting here in NZ. Real value for money without the fuss." />
    <meta property="twitter:image" content="../img/Open-Graph.jpg" />


    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cheap Web Hosting &amp; Domain Names &vert; SiteHost New Zealand" />
    <meta property="og:description" content="SiteHost has been around since 2000 and we continue to offer cheaps domains with reliable web hosting here in NZ. Real value for money without the fuss." />
    <meta
        property="og:image"
        content="img/Open-Graph.jpg
    "
    />
        