---
layout: wrapper
comments: 0
---

<article class="content sm:my-12 my-6 sm:space-y-12 space-y-6">
    <!-- Title -->
    <header class="container px-4 md:max-w-screen-md lg:max-w-screen-sm mx-auto">
      <div class="space-y-6">
         
        <h1 class="text-black text-3xl my-0 sm:text-5xl font-bold leading-tight">{{ page.title }}</h1>
        <div class="flex flex-row space-x-8 items-center">
          <div class="flex flex-row items-center text-gray-400 text-sm">
            <img class="rounded-full p-1 bg-gray-50 shadow-lg h-8 w-8 mr-2 object-cover" src="{{ page.author_pic | prepend: site.baseurl }}" alt="{{ page.title }}" title="{{ page.title }}">
            <span class="text-gray-400 text-sm">{% if page.author %}{{ page.author }}{% endif %}</span>
          </div>
          <time class="text-black text-sm hidden md:block" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        </div>
    </div> 
    </header>

    <section class="overflow-hidden">
      <div class="container md:max-w-screen-md lg:max-w-screen-md mx-auto">
        <main class="flex mx-auto max-w-7xl">
          <div class="sm:flex sm:space-x-6 items-center w-full relative shadow-2xl hover:shadow-lg transition duration-300 ease-in-out rounded-md block">
            <img class="sm:rounded-xl object-cover w-full sm:h-96" src="{{ page.image | prepend: site.baseurl }}" alt="{{ page.title }}" title="{{ page.title }}">
          </div>
        </main>
      </div>
    </section>

    <!-- blog -->
    <div class="container px-4 md:max-w-screen-md lg:max-w-screen-sm mx-auto">
      <main class="space-y-6">
        {{ content }}
      </main>
      <hr>
      <blockquote>Acompáñame estoy documentando mi viaje y compartiendo la experiencia de vivir en Nueva Zelanda, cualquier comentario o sugerencia siempre es bienvenido.</blockquote>
      <hr>
    </div>
  </article>
    <div class="container px-4  md:max-w-screen-lg lg:max-w-screen-lg mx-auto">
      <main class="space-y-6">
        {% include bye.html %}
      </main>
    </div>
    <div class="container space-y-6 px-4 my-12 md:max-w-screen-lg lg:max-w-screen-lg mx-auto">
      <h4 class="text-black my-0 text-xl font-bold leading-tight">Últimas publicaciones</h4>
      <div class="grid sm:grid-cols-3 gap-6">
        {% for post in site.related_posts limit:3 %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="space-y-6 group">
              <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}" class="shadow-2xl group-hover:shadow-lg transition duration-300 ease-in-out" alt="" />
                <h2 class="text-xl">
                  {{ post.title }}
                </h2>
                <!-- call the featured-post-image.html template file -->
                {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <!-- {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} -->
            </div>
          </a>
        {% endfor %}
        
      </div>
    </div>

    <div class="container px-4 my-24 md:max-w-screen-md lg:max-w-screen-sm mx-auto">
      {% include disqus.html disqus_identifier=page.disqus_identifier %}
      <!-- https://blog.webjeda.com/jekyll-comments/#step-3-get-the-disqus-code -->
    </div>