{% include head.html %}
<body>
    {% include nav.html %}


    <section class="text-gray-700 body-font">
                <div class="container px-8 mx-auto py-36 lg:px-4">
                    <div class="flex flex-col w-full mb-20 text-left md:text-center">
                        <h1 class="mb-6 text-5xl font-bold tracking-tighter text-dark-1 dark:text-blueGray-300 md:text-6xl title-font lg:text-8xl" data-unsp-sanitized="clean">
                            Contenido
                        </h1>
                        <p class="mx-auto text-xl font-medium leading-relaxed lg:w-1/2 text-blueGray-500 dark:text-blueGray-200">

                            {{ content }}
                        </p>
                    </div>
            </div></section>

    {% include footer.html %}
    
</body>
</html>